@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
}
/* ********************first section start****************** */
    .section-1{
        margin-bottom: 170px;
    }
    /* ********************main left start****************** */
        .header>img{
            width: 112px;
            height: 66px;
        }
        .main, .head{
            display: flex;
        }
        .online-kurs, .clock, .date{
            margin-right: 40px;
            display: flex;
            align-items: center;
        }
        .online-kurs> img, .clock> img, .date > img{
            margin: 10px;
        }
        .head{
            margin: 100px 0px 30px 0px;
        }
        .text :first-child{
            font-family: 'Roboto Slab';
            font-size: 80px;
            font-weight: 700;
            margin-bottom: 10px;
        }
    /* ********************main left end****************** */
    /* ********************main right start****************** */
        .right{
            position: relative;
            margin: 30px;
            left: 150px;
        }
        .right :last-child{
            position: relative;
            width:304px ;
            height: 356px;
        }
        .right :first-child{
            position: absolute;
            right: 200px;
            top: 330px;
            width: 274px;
            height: 41px;
            left: 30px;
        }
    /* ********************main right end****************** */
    /* ********************comment start****************** */
        .text2{
            background: #1E4681;
            border-radius: 5px;
            width: 480px;
            height: 150px;
            color: white;
            padding: 15px;
            margin: auto;
        }
        .text2 :first-child{
            font-family: 'Roboto Slab';
            font-size: 25px;
        }

        .text2 :last-child{
            text-align: right;
            padding-top: 20px;
        }
    /* ********************comment end****************** */
/* ********************first section end****************** */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ********************second section start****************** */
    .section-2{
        margin-bottom: 170px;
    }
    .main-s2{
        display: flex;
        margin-bottom: 60px;
    }
    /* ********************main left start****************** */
        .left-s2 :first-child{
            font-family: 'Roboto Slab';
            font-size: 55px;
            font-weight: 700;
            margin-bottom: 18px;
        }
        .left-s2 .p1{
            font-size: 24px;
        } 

    /* ********************main left end****************** */
    /* ********************main right start****************** */
        .right-s2{
            position: relative;
            left: 150px;
            top: 80px;
        }
        .right-s2 .svg1 img{
            position: relative;
            width: 314px;
            height: 315px;
        }
        .right-s2 .svg2 img{
            position: absolute;
            width: 366px;
            height: 59px;
            top: 280px;
            right: 200px;
            left: 0px;
        }
    /* ********************main right end****************** */
    /* ********************footer start****************** */
        
        .footer{
           display: flex;
           align-items: center;
        }
        .photo{
            position:relative;
        }
        .photo .svg3{
            position: relative;
            width: 232px;
            height: 203px;
        }
        .photo .svg4{
            position: absolute;
            width: 182px;
            height: 32px;
            top: 185px;
            left: 35px;
        }
        .photo,.s2-text>div{
            margin-right: 40px;
        }
        .s2-text>div{
            display: inline-block;
        }
        .s2-text>div>:first-child{
            font-size: 25px;
            font-weight: 800;
        }
    /* ********************footer end****************** */
/* ********************second section end****************** */

/* ********************third section start****************** */
        .section-3{
            margin: 100px 0px;
        }
        .main-s3>div{
            display: inline-block;
        }
        .main-s3>div>:first-child{
            color: #1E4681;
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 10px;
        }
/* ********************third section end****************** */

/* ********************fourth section start****************** */
        .header-s4{
            font-size: 55px;
            font-weight: 700px;
            font-family: 'Roboto Slab';
            margin-bottom: 40px;
        }
        .main-s4>ul{
            list-style-type: disc;
        }
        .main-s4{
            margin-left: 40px;
            font-size: 24px;
        }
/* ********************fourth section end****************** */


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ********************** Responsiv TABLET  (960px)******************** */
@media screen and (max-width:960px){
/* ********************first section start****************** */
/* ********************main left start****************** */
    .header>img{
        width: 64px;
        height: 38px;
    }
    .online-kurs, .clock, .date{
        margin-right: 30px;
    }
    .online-kurs> img, .clock> img, .date > img{
        margin: 8px;
    }
    .head{
        margin: 80px 0px 20px 0px;
    }
    .text :first-child{
        font-size: 46px;
        font-weight: 700;
        margin-bottom: 8px;
    }
/* ********************main left end****************** */
/* ********************main right start****************** */
    .right{
        margin: 20px;
        left: 150px;
    }
    .right :last-child{
        width:176px ;
        height: 206px;
    }
    .right :first-child{
        right: 200px;
        top: 195px;
        width: 158px;
        height: 23px;
        left: 30px;
    }
/* ********************main right end****************** */
/* ********************comment start****************** */
    .text2{
        width: 280px;
        height: 115px;
        padding: 10px;
    }
    .text2 :first-child{
        font-size: 14px;
    }

    .text2 :last-child{
        padding-top: 20px;
    }
/* ********************comment end****************** */
/* ********************first section end****************** */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ********************second section start****************** */
/* ********************main left start****************** */
    .left-s2 :first-child{
        font-size: 32px;
        font-weight: 700;
    }
    .left-s2 .p1{
        font-size: 14px;
    } 

/* ********************main left end****************** */
/* ********************main right start****************** */
    .right-s2{
        position: relative;

    }
    .right-s2 .svg1 img{
        width: 181px;
        height: 182px;
        
    }
    .right-s2 .svg2 img{
        width: 211px;
        height: 34px;
        top: 165px;
    }
/* ********************main right end****************** */
/* ********************footer start****************** */
.footer{
    display: flex;
    align-items: center;
 }
    .photo,.s2-text>div{
        margin-right: 30px;
    }
    .s2-text>div{
        display: inline-block;
    }
    .s2-text>div>:first-child{
        font-size: 15px;
        font-weight: 800;
    }
    .s2-text>div>:last-child{
        font-size: 11px;
        font-weight: 400;
    }
/* ********************footer end****************** */
/* ********************second section end****************** */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ********************third section start****************** */
.section-3{
    margin: 80px 0px;
}
.header-s4>p{
    font-size: 32px;
    font-weight: 700;
}

.main-s3>div>:first-child{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}
.main-s3>div>:last-child{
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 10px;
}
/* ********************third section end****************** */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ********************fourth section start****************** */
.header-s4{
    font-size: 32px;
    margin-bottom: 30px;
}
.main-s4{
    margin-left: 40px;
    font-size: 14px;
    font-weight: 400;
}
/* ********************fourth section end****************** */
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ********************** Responsiv phone  (600px)******************** */
@media screen and (max-width:600px){
/* ********************first section start****************** */
.main{
    display: block;
}
/* ********************main left start****************** */
.header>img{
    width: 52px;
    height: 30px;
}
.online-kurs, .clock, .date{
    margin-right: 15px;
}
.online-kurs> img, .clock> img, .date > img{
    margin: 6px;
    width: 10px;
    height: 10px;
}
.head{
    margin: 40px 0px 20px 0px;
}
.online-kurs> p, .clock> p, .date > p{
    font-size: 11px;
}
.text :first-child{
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 8px;
}
/* ********************main left end****************** */
/* ********************main right start****************** */

.right :last-child{
    width:141px ;
    height: 171px;
}
.right :first-child{
    top: 160px;
    width: 127px;
    height: 19px;
}
/* ********************main right end****************** */
/* ********************comment start****************** */
.text2{
    width: 225px;
    height: 90px;
    padding: 10px;
}
.text2 :first-child{
    font-size: 11px;
    font-weight: 400;
}
.text2 :last-child{
    font-size: 10px;
}

.text2 :last-child{
    padding-top: 20px;
}
/* ********************comment end****************** */
/* ********************first section end****************** */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ********************second section start****************** */
.main-s2{
    display: block;
}
/* ********************main left start****************** */
.left-s2 :first-child{
    font-size: 26px;
    font-weight: 700;
}
.left-s2 .p1{
    font-size: 12px;
} 

/* ********************main left end****************** */
/* ********************main right start****************** */

.right-s2 .svg1 img{
    width: 170px;
    height: 160px;
    
}
.right-s2 .svg2 img{
    width: 170px;
    height: 28px;
    top:150px;
}
/* ********************main right end****************** */
/* ********************footer start****************** */
.photo{
    display: none;
}
.s2-text{
    margin-top: 50px;
}
.s2-text>div{
    display: inline-block;
}
.s2-text>div>:first-child{
    font-size: 12px;
    font-weight: 800;
}
.s2-text>div>:last-child{
    font-size: 10px;
    font-weight: 400;
}
/* ********************footer end****************** */
/* ********************second section end****************** */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ********************third section start****************** */
.section-3{
margin: 60px 0px;
}
.header-s4>p{
font-size: 26px;
font-weight: 700;
}

.main-s3>div>:first-child{
font-size: 15px;
font-weight: 700;
margin-bottom: 10px;
}
.main-s3>div>:last-child{
font-size: 11px;
font-weight: 400;
margin-bottom: 10px;
}
/* ********************third section end****************** */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ********************fourth section start****************** */
.header-s4{
font-size: 32px;
margin-bottom: 30px;
}
.main-s4{
margin-left: 40px;
font-size: 14px;
font-weight: 400;
}
/* ********************fourth section end****************** */
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */